input {
  background-color: transparent !important;
  border: transparent !important;
}

input::placeholder {
  color: #979797;
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: theme(
    "colors.black.300"
  ) !important; /* Replace with your predefined color */
  -webkit-text-fill-color: theme(
    "colors.black.300"
  ) !important; /* Ensures text color applies */
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
